.accordion {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    @include tablet {
        margin-top: 45px;
    }

    h3 + & {
        @include tablet {
            margin-top: 40px;
        }
    }
    h3 + .wp-block-columns > .wp-block-column > & {
        margin-top: 0;
    }

    & > li {
        font-size: 0;
        border-bottom: 1px solid rgba($cLight, .2);
        padding: 18px 0;
        @include tablet {
            padding: 23px 0;
        }

        &:last-child {
            border-bottom: none;
        }

        .section__yellow &,
        .section__light & {
            border-bottom-color: rgba(26, 26, 27, .3);
        }

        &.opened {
            font-size: $font-size__small;
            padding-bottom: 24px;
            @include tablet {
                font-size: $font-size;
                padding-bottom: 50px;
            }

            strong:first-child {
                margin-bottom: 12px;
                @include tablet {
                    margin-bottom: 10px;
                }
            }
             strong:first-child::after {
                content: '-';
            }
        }

        & > ul {
            display: none;
        }
        &.opened > ul {
            display: block;
            margin: 0 0 20px 0;
            @include tablet {
                margin: 0 0 40px $indent;
            }
        }
        &.opened > strong {
            display: block;
            margin: 0 0 30px 0;
            @include tablet {
                margin: 0 0 30px $indent;
            }
        }
        strong:first-child {
            cursor: pointer;
            font-size: 15px;
            font-weight: normal;
            display: block;
            position: relative;
            padding-right: 20px;
            margin: 0;
            @include tablet {
                font-size: 28px;
            }

            &::after {
                content: '+';
                position: absolute;
                right: 0;
                top: -3px;
                font-size: 22px;
                @include tablet {
                    font-size: 34px;
                }
            }
            
        }
    }

    &__alternate {
        position: relative;

        & > li {
            @include tablet {
                margin: 0 70% 0 0;
            }

            strong:first-child {
                &::after {
                    content: '';
                    background: url(#{$img}/arrow-right.svg) no-repeat center center / contain;
                    width: 11px;
                    height: 9px;
                    transform-origin: center;
                    transform: rotate(90deg);
                    top: 5px;
                    @include tablet {
                        transform: none;
                        width: 13px;
                        height: 10px;
                        top: 15px;
                    }
                }
            }

            &.opened {
                @include tablet {
                    padding-bottom: 23px;
                }
            }
            &.opened strong:first-child {
                font-weight: bold;
                margin-bottom: 0;
            }
            &.opened strong:first-child::after {
                content: '';
                transform: rotate(-90deg);
                @include tablet {
                    transform: none;
                    background-image: url(#{$img}/arrow-right-bold.svg);
                }
            }
        }

        br {
            display: none;
        }
        em {
            font-style: normal;
            @include tablet {
                display: none;
                position: absolute;
                right: 0;
                top: 20px;
                width: 40%;
                max-width: 550px;
            }
        }
        .opened em {
            display: block;
        }
    }
}
