.pagination-single-inner {
    @include layout;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 18px;
    margin: 0 0 40px;
}

.previous-post,
.next-post {
    color: $cLight;
    text-align: center;
    transition: .2s $easing opacity;
    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &:hover {
        opacity: .6;
        color: $cLight;
    }
    &:active {
        opacity: .8;
    }

    &_title {
        font-size: 9px;
        display: block;
        margin: 0 0 12px;
        @include tablet {
            font-size: 18px;
            margin: 0;
        }

        .next-post & {
            @include tablet {
                order: 2;
            }
        }
    }
    &_image {
        @include tablet {
            width: 323px;
        }
    }
}
