.lang {
    font-size: 14px;
    color: $cLight;
    padding: 0 0 40px;
    @include tablet {
        padding: 2px 10px 0;
    }

    &__dark {
        color: $color;
        padding: 0;
    }

    &_item {
        cursor: pointer;
        color: $cLight;
        font-size: $font-size;
        vertical-align: middle;
        transition: .2s $easing opacity;
        @include tablet {
            font-size: 16px;
        }

        &:hover {
            opacity: .6;
        }

        .fixed-header &,
        .search-opened &,
        .search-results & {
            color: $color;
        }

        &.active {
            color: $cYellow;
        }

        .lang__dark & {
            color: $color;
        }
    }
}

.current-lang a:not([class]) {
    color: $cYellow;
}
